@CHARSET "UTF-8";

main {
	width: 600px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 100px;
	background-color: teal;
}

#content {
	width: 100%;
	height: 400px;
	margin: 12px auto;
}
aside {
	float: left;
	height: 400px;
	width: 32%;
	background-color: magenta;
}

section {
	float: right;
	height: 400px;
	width: 65%;
	background-color: lime;
	
}

footer {
	windth: 100%;
	height: 100px;
	margin: 5px auto;
	background-color: blue;
	margin: 0 auto;
}
